//COLORS
$black: black;
$blue: #003566;
$darkBlue: #001d3d;
$yellow: #ffd500;
$darkYellow: #d1ae00;

//BOX SHADOW COLORS
$blueShadow: rgba(0, 107, 213, 0.41);
$darkBlueShadow: rgba(0, 45, 91, 0.41);
$yellowShadow: #ffd50090;
$darkYellowShadow: #d4b10090;
